@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  background: #f4f5f9;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

*.grid {
  -ms-grid-columns: 1fr 0fr !important;
      grid-template-columns: 1fr 0fr !important;
}

.container {
  background: #f4f5f9;
  width: 60%;
  height: 75vh;
  border-radius: 10px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.container .Player_container {
  padding: 15px;
}

.container .Player_container .music_photo {
  width: 100%;
  height: 54.2867vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .Player_container .music_photo .poster {
  width: 100%;
  height: 83%;
}

.container .Player_container .music_photo .poster img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .Player_container .music_photo .caption {
  width: 100%;
  height: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .Player_container .music_photo .caption h4 {
  margin: 8px 0;
  color: #000000;
}

.container .Player_container .music_photo .caption p {
  color: #77787c;
}

.container .Player_container .progress_area {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .Player_container .progress_area .progress_bar {
  cursor: pointer;
  height: 50%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 5px;
}

.container .Player_container .progress_area .progress_bar .bar {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #e0e0e0;
  position: relative;
}

.container .Player_container .progress_area .progress_bar .bar span {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  border-radius: inherit;
  background: #fe6b01;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.container .Player_container .progress_area .progress_bar .bar span i {
  display: inline-block;
  position: absolute;
  right: -4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fe6b01;
}

.container .Player_container .progress_area .progress {
  height: 50%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .Player_container .progress_area .progress span {
  color: #000000;
  font-size: 14px;
}

.container .Player_container .player_options {
  width: 100%;
  height: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .Player_container .player_options .option {
  width: calc(100% / 3);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .Player_container .player_options .option button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.container .Player_container .player_options .option button i {
  font-size: 26px;
  color: #fe6b01;
}

.container .Player_container .player_options .option input {
  width: 100%;
  -webkit-appearance: none;
}

.container .Player_container .player_options .option input::-webkit-slider-runnable-track {
  height: 4px;
  background-color: #e0e0e0;
  border-radius: 2px;
  cursor: pointer;
}

.container .Player_container .player_options .option input:focus {
  outline: none;
}

.container .Player_container .player_options .option input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: -3px;
  background-color: #fe6b01;
}

.container .Player_container .player_options .option input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fe6b01;
}

.container .Player_container .player_options .right_controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 20%;
  height: 100%;
}

.container .Player_container .player_options .right_controls .option {
  width: calc(100% / 2);
}

.container .Player_container .player_options .middle_controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  height: 100%;
}

.container .Player_container .player_options .middle_controls .play {
  min-width: 40px;
  min-height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cecece));
  background: linear-gradient(#fff 0%, #cecece 100%);
  -webkit-box-shadow: 0 0 4px #fe6b01;
          box-shadow: 0 0 4px #fe6b01;
  border-radius: 50%;
  border: 2px solid #fe6b01;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .Player_container .player_options .left_controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 30%;
  height: 100%;
}

.container .list_container {
  padding: 15px;
}

.container .list_container .navigation {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 15px;
}

.container .list_container .navigation span,
.container .list_container .navigation i {
  cursor: pointer;
  color: #000000;
}

.container .list_container .navigation span.active {
  position: relative;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .list_container .navigation span.active::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #fe6b01;
}

.container .list_container .list_flow,
.container .list_container .fav_list {
  height: 400px;
  overflow-y: scroll;
}

.container .list_container .list_flow::-webkit-scrollbar,
.container .list_container .fav_list::-webkit-scrollbar {
  width: 0;
}

.container .list_container .list_flow .link,
.container .list_container .fav_list .link {
  cursor: pointer;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 4px solid transparent;
  height: 65px;
}

.container .list_container .list_flow .link.active,
.container .list_container .fav_list .link.active {
  background-color: #e0e0e0;
  border-color: #fe6b01;
}

.container .list_container .list_flow .link:hover,
.container .list_container .fav_list .link:hover {
  background-color: #e0e0e0;
}

.container .list_container .list_flow .link .img,
.container .list_container .fav_list .link .img {
  width: 45px;
  height: 45px;
}

.container .list_container .list_flow .link .img img,
.container .list_container .fav_list .link .img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.container .list_container .list_flow .link .cap,
.container .list_container .fav_list .link .cap {
  margin-left: 15px;
}

.container .list_container .list_flow .link .cap h5,
.container .list_container .fav_list .link .cap h5 {
  color: #000000;
  margin-bottom: 5px;
}

.container .list_container .list_flow .link .cap p,
.container .list_container .fav_list .link .cap p {
  font-size: 14px;
  color: #77787c;
}

*.hide {
  display: none;
}

@media (max-width: 997px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .container {
    width: 100%;
    height: inherit;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .container .Player_container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .container .Player_container.grid_min {
    display: none;
  }
  .container .Player_container .music_photo {
    height: 75%;
  }
  .container .Player_container .player_options .option button i {
    font-size: 24px;
  }
  .container .Player_container .player_options .middle_controls .play {
    min-height: 38px;
    min-width: 38px;
  }
  .container .Player_container .player_options input {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .container .list_container {
    height: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .container .list_container .list_flow {
    height: 90% !important;
  }
  .container .list_container.hide_min {
    display: none;
  }
  .container .list_container.hide {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */